:root {
    --color-theme-1: rgba(250, 191, 103, 0.123);
    --color-theme-2: orange;
}

body {
    margin: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

.page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left {
    flex-grow: 1;
    width: 40%;
    min-width: 300px;
    background-image: url(resources/background.jpg);
    background-size: cover;
}

.left-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.6);
    height: 150px;
    color: whitesmoke;
}

.left-item>img {
    height: 100px;
    width: 100px;
    filter: saturate(500%) contrast(800%) brightness(500%) 
      invert(100%) sepia(0%) hue-rotate(0deg); 
}

.right {
    flex-grow: 2;
    width: 60%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
}

.section1 {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: var(--color-theme-1);
}

.header {
    position: relative;
    top: 50%;
}

.text-container {
    margin-left: 30px;
    margin-right: 30px;
}

#text2 {
    font-weight: 700;
    font-size: 1.2rem;
}

.section2 {
    display: flex;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, .1) 0px 1px 1px;
}

fieldset {
    border: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 5% 10%;
    margin-left: 30px;
    padding: 0;
}

.input-header {
    margin:0%;
    margin-top: 20px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    bottom: 0;
    left: 0;
}

.input-container {
    display: flex;
    flex-flow: column wrap;
    width: max(10px,34%);
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 90%;
}

input {
    height: 30px;
    border-radius: 5px;
}

.section3 {
    flex-grow: 2;
    background-color: var(--color-theme-1);
}

.submit-container {
    margin-left: 30px;
    padding: 0;
    margin-top: 30px;
}

#submitBtn {
    color: white;
    background-color: var(--color-theme-2);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    border:0ch;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 10px 2px;
    height: 50px;
    width: 150px;
}

.valid {
    outline: none;
    border: 2px solid green;
}

.invalid {
    outline: none;
    border: 2px solid red;
}

#submitBtn:active {
    scale: 0.9;
}

#submitBtn:hover {
    background-color: rgba(255, 166, 0, 0.575);
}

a {
    text-decoration: none;
    color: var(--color-theme-2);
    font-size: 1.2rem;
    font-weight: bold;
}

.auto:focus, .non-auto:focus {
    outline: none;
    border: 2px solid var(--color-theme-2);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 10px 2px;
}

.auto:valid {
    outline: none;
    border: 2px solid green;
}

/* This is to adjust to mobile display */

@media only screen and (max-width: 600px)  {
    .page-container {
        display: flex;
        flex-direction: column;
        height: auto;
        min-width: 400px;
    }

    .left {
        width: 100%;
        min-width: 400px;
        height: 200px;
        display: flex;
        align-items: center;
        background-size: 100%;
        background-position: 75%;
        background-repeat: no-repeat;
    }

    .right {
        flex-grow: 1;
        width: 100%;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-item {
        flex-grow: 1;
        display: flex;
        position: static;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .header {
        position: static;
    }

    .text-container {
        margin: 20px 30px;
        text-align: center;
    }

    .section2 {
        display: flex;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, .1) 0px 1px 1px;
    }
    
    fieldset {
        border: 0;
        width: 100%;
        display: flex;
        flex-flow:column;
        align-items: center;
        gap: 10px;
        margin: 10px;
        margin-top: 0px;
        padding: 10px;
    }

    .input-header {
        margin-top: 5px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 500;
        position: static;
        display: flex;
        justify-content: center;
    }
    
    .input-container {
        display: flex;
        flex-flow: column wrap;
        width: max(10px,70%);
        font-size: 1rem;
        text-transform: uppercase;
        opacity: 90%;
    }
    
    .section3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .submit-container {
        margin: 30px;
    }

}


